<div class="mb-5">
  <h3>Post Lists</h3>
  <a routerLink="add" class="btn btn-primary">Add Post</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts$ | async">
      <th>{{ post.id }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
      <td>
        <div class="d-flex gap-2">
          <a [routerLink]="['edit', post.id]" class="btn btn-primary">Edit</a>
          <button class="btn btn-danger" (click)="onDeletePost(post.id)">
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
