<div class="row">
  <div class="col-6">
    <div class="card border-0">
      <div class="card-body">
        <h5 class="card-title">Ex - 01</h5>
        <h6 class="card-title">Data: of(1, 2, 3, 4, 5)</h6>
        <hr />
        <ul class="list-group" id="elContainer1"></ul>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card border-0">
      <div class="card-body">
        <h5 class="card-title">Ex - 02</h5>
        <h6 class="card-title">Data: from([1, 2, 3, 4, 5])</h6>

        <hr />
        <ul class="list-group" id="elContainer2"></ul>
      </div>
    </div>
  </div>
</div>
