<div class="row">
  <div class="col-4">
    <h5 class="card-title">Ex - 01 (retry)</h5>
    <hr />
    <button (click)="fetcDetails()" class="btn btn-primary">
      <div class="spinner-border spinner-border-sm" role="status" *ngIf="fatching"></div>
      {{ fatching ? "Fatching..." : "Fatch Details" }}
    </button>
    <table class="table" *ngIf="user != null">
      <tbody>
        <tr>
          <th>Id</th>
          <td>{{ user.id }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ user.name }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th>Website</th>
          <td>{{ user.website }}</td>
        </tr>
      </tbody>
    </table>
    <p>Status- {{status}}</p>
  </div>
</div>
