<div class="row">
  <div class="col-4">
    <h5 class="card-title">Ex - 01 (take)</h5>
    <h6 class="card-title">
      Data: ['Tarun', 'Arjun', 'Mantu', 'Komal', 'Harish', 'Lalit']
    </h6>
    <hr />
    <ul class="list-unstyled" id="elContainer1"></ul>
  </div>
  <div class="col-4">
    <h5 class="card-title">Ex - 02 (take last)</h5>
    <h6 class="card-title">
      Data: ['Tarun', 'Arjun', 'Mantu', 'Komal', 'Harish', 'Lalit']
    </h6>
    <hr />
    <ul class="list-unstyled" id="elContainer2"></ul>
  </div>
  <div class="col-4">
    <h5 class="card-title">Ex - 03 (takeUntil)</h5>
    <h6 class="card-title">
      Data: interval(1000)
    </h6>
    <hr />
    <ul class="list-unstyled" id="elContainer3"></ul>
  </div>
</div>
