<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">codeStyle</a>
  <input
    class="form-control form-control-dark w-100"
    type="text"
    placeholder="Search"
    aria-label="Search"
  />
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a
        class="nav-link px-3 btn"
        href="javascript:void(0)"
        (click)="onLoginClick()"
        *ngIf="!isLogedIn"
        >Login</a
      >
      <a
        class="nav-link px-3"
        href="javascript:void(0)"
        (click)="onLogoutClick()"
        *ngIf="isLogedIn"
        >Logout</a
      >
    </div>
  </div>
</header>
