<div class="row">
  <div class="col-6 mt-2">
    <a routerLink="fromEvent" class="btn btn-primary w-100">fromEvent</a>
  </div>
  <div class="col-6 mt-2">
    <a routerLink="interval" class="btn btn-primary w-100"
      >Interval and Timer</a
    >
  </div>
  <div class="col-6 mt-2">
    <a routerLink="ofForm" class="btn btn-primary w-100">of and from</a>
  </div>
  <div class="col-6 mt-2">
    <a routerLink="toArray" class="btn btn-primary w-100">toArray</a>
  </div>
  <div class="col-6 mt-2">
    <a routerLink="map" class="btn btn-primary w-100">map</a>
  </div>
  <div class="col-6 mt-2">
    <a routerLink="filter" class="btn btn-primary w-100">filter</a>
  </div>
  <div class="col-6 mt-2">
    <a routerLink="tap" class="btn btn-primary w-100">tap</a>
  </div>
  <div class="col-6 mt-2">
    <a routerLink="take" class="btn btn-primary w-100"
      >take, takeLast and takeUntill</a
    >
  </div>
  <div class="col-6 mt-2">
    <a routerLink="retry" class="btn btn-primary w-100"
      >Retry, RetryWhen, Scan, Delay</a
    >
  </div>
  <div class="col-6 mt-2">
    <a routerLink="debounceTime" class="btn btn-primary w-100"
      >DebounceTime & DistinctUntilChanged</a
    >
  </div>
  <div class="col-6 mt-2">
    <a routerLink="subject" class="btn btn-primary w-100"
      >Subject and BehaviorSubject</a
    >
  </div>
  <div class="col-6 mt-2">
    <a routerLink="switch-map" class="btn btn-primary w-100"
      >Switch Map</a
    >
  </div>
</div>
