<h1 class="mb-5">Edit user</h1>

<form class="row g-3" *ngIf="editUserDetails">
  <div class="col-md-12">
    <label class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="editUserDetails.name"
      name="name"
    />
  </div>
  <div class="col-md-12">
    <label class="form-label">Phone1</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="editUserDetails.phone"
      name="phone"
    />
  </div>
</form>


<button (click)="check()">click</button>