<div class="row">
  <div class="col-6">
    <div class="card border-0">
      <div class="card-body">
        <h5 class="card-title">Ex - 01 (interval)</h5>
        <hr />
        <ul class="list-group" id="elContainer1"></ul>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card border-0">
      <div class="card-body">
        <h5 class="card-title">Ex - 02 (timer)</h5>
        <hr />
        <ul class="list-group" id="elContainer2"></ul>
      </div>
    </div>
  </div>
</div>
