<div >
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque fugiat, ea
  tempore id libero vel nemo aspernatur porro eos voluptate sit debitis sequi
  explicabo incidunt, dicta illo, architecto culpa numquam.
  <iframe
    src="../assets/sample.pdf"
    width="600"
    height="400"
    frameborder="0"
    allowfullscreen
    #iframeContainer
  ></iframe>
</div>
<div #selectedData>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eos facere in
  voluptate aliquam nulla aspernatur minima quidem quam exercitationem unde, cum
  quae. Aspernatur, quaerat quo voluptatem quibusdam saepe consequatur.
</div>

<button #btn (click)="handleDataSelection($event)">click me</button>
